<link rel="stylesheet" type="text/css" href="css/personalcoupon.css"/>
<style>
	.b_detail_1-ul{
		width:100%;
		border:1px dashed #FFF100;
		border-bottom:none;
	}
	.b_title{
		display:flex;
	}
	.backProduct{
		width:20px;
		height:20px;
		margin-right: 10px;
		margin-top:10px;
		cursor:pointer;
	}
</style>
<style>
	.c_page{padding-right: 0px!important;}
</style>
   <!--S content-->
   <div class="content">
   	<div class="c_up">
		<!-- <div class="u_left">
			<div ng-include="'eshop/menu.html'"></div>
		</div> -->
   		<div class="u_center">
   			<div class="r_box">
				<div class="b_title">
					<img src="img/back.png" alt="" class="backProduct" ng-click="backProduct()">
					<ul>
						<li><a href="javascript:void(0);"  class="active">商家优惠券中心</a></li>
					</ul>
				</div>
				<div style="display:flex;justify-content: center;" ng-show="coupons.length==0">
					暂无优惠券
				</div>
   				<div class="b_detail">
					<div class="b_detail_1">
					  <ul class="b_detail_1-ul" style="margin:0;padding:0">
						<li-1  style="margin:0;padding:0;margin-left:16.5px;margin-top:20px;box-shadow:4px 2px 6px red" class="{{($index+1)%4==0?'c-no-margin-r b_detail_1-ul-li '+ item.class:item.class}}" ng-repeat="item in coupons">
						  <div ng-if="item.type==2" class="b_detail_content_top">
							<div class="b_detail_content_top_left" title="{{item.value}}" style="display:flex;justify-content: start;align-items: center;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;"><p style="margin:0;padding:0">￥</p>{{item.value}}</div>
							<div class="b_detail_content_top_right"> {{item.title}}</div>
						  </div>
							<div ng-if="item.type==1" class="b_detail_content_top">
								<div class="b_detail_content_top_left" style="font-size:39px">{{item.value}}<span style="font-size:30px">折</span></div>
								<div class="b_detail_content_top_right"> {{item.title}}</div>
							</div>
							<button type="button" name="button" ng-if="item.isGeted==0?true:false" ng-click="getCoupon($index)"> 点击领取 </button>
							<button type="button" name="button" ng-if="item.isGeted==1?true:false" style="background:#ccc;color:#fff" > {{item.isPass?'已过期':'已领取'}} </button>
							<div class="b_detail_content_bottom">
								{{item.type==1?'折扣券':'现金券'}}有效期：
								<span>{{item.startDate}}至{{item.endDate}}</span>

							</div>
						</li-1>
						  <div style="clear: both;"></div>
					  </ul>
					</div>
					<div style="clear: both;"></div>
   					<div class="row">
						<div class="col-md-12">
							<div ng-include="'eshop/pages.html'"></div>
						</div>
					</div>
   				</div>
   			</div>
   		</div>
   		<div style="clear: both;"></div>
   	</div>
   </div>