<link rel="stylesheet" type="text/css" href="css/sale.css"/>
   <!--S content-->
   <div class="content">
	   <div class="c_banner">
		   <div class="c_pic">
			   <a ng-click="topath(img.url)"  href="javascript:void(0);" ng-repeat="img in banners"><img alt="{{img.note}}" ng-src="{{img.path}}" /></a>
		   </div>
	   </div>
      <div class="c_down" style="width:1200px;margin:auto;">
         <div class="d_detail" style="justify-content: flex-start;">
            <div class="c-content-title-4" style="width: 100%;margin-bottom: 10px;">
               <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                  <span class="c-bg-grey-1">促销活动</span>
               </h3>
            </div>
            <div class="s_list" ng-repeat="item in promotions" style="margin-right:10px;width: 590px;">
               <div class="s_con" ng-click="toSaleProducts(item.id)" style="height:auto;padding-bottom: 0px;">
                  <a href="javascript:void(0);">
                     <img class="s_pic" ng-src="{{item.promPic}}" style="width:590px;height: 280px;"/>
                  </a>
                  <p class="s_header" style="font-size: 18px;font-weight: bold;">{{item.title}}</p>
                  <p class="s_header" style="font-size: 16px;">满<span style="color:#D71317">{{item.full}}</span>减<span style="color:#D71317">{{item.value}}</span></p>
               </div>
               
            </div>
         </div>
      </div>
   </div>
   <!--E content-->
