
<div class="container">
    <!-- BEGIN: 卖家中心菜单 -->
    <div ng-include="'views/menu.html'"></div>
    <!-- END: 个人中心菜单 -->
    <div class="c-layout-sidebar-content ">
        <div class="c-content-title-1">
            <div class="c-font-uppercase c-font-bold c-font-18 c-margin-b-15">我的钱包</div>
            <div class="c-line-left c-theme-bg"></div>
        </div>
        <div class="form-group">
            <div class="c-border c-bg-grey-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6  c-padding-20   c-center">
                            <p>账户余额</p>
                            <p class="c-font-red c-font-24 c-font-bold"><span class="c-font-16">￥</span>{{toDecimal2(walletAmount)}}</p>
                        </div>
                        <div class="col-lg-6 c-border-l-green-1  c-padding-20 c-center c-border-grey">
                            <div class="c-padding-20">
                                <button ng-click="applyCashOn()" disabled="true" data-toggle="modal" data-target="#CashOnform"  class="btn c-theme-btn c-btn-square c-margin-t-5 c-margin-r-40">我要提现</button>
                                <button  ng-click="goshopback()"   disabled="true" class="btn c-theme-btn c-btn-square c-margin-t-5">我要充值</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 c-margin-t-20">
            <div class="row c-border-bottom c-margin-b-20">
                <div class="col-md-4">
                    <ul class=" c-theme-nav nav nav-tabs" style="border: 0">
                        <li class="{{hide}}" ng-click="tabshide()">
                            <p class="c-font-uppercase c-font-bold c-font-16" style="padding: 0 10px;cursor:pointer">充值明细</p>
                        </li>
                        <li class="{{show}}" ng-click="tabsshow()">
                            <p class="c-font-uppercase c-font-bold c-font-16" style="padding: 0 10px;cursor:pointer" >提现明细</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="hide" class="c-margin-b-40">
            <div class="col-md-12">
                <div class="row c-border-bottom c-margin-b-20 c-font-14">
                    <div class="col-md-3">
                        <p class="  c-font-bold ">
                            充值金额
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class=" c-font-bold">
                            充值方式
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center c-font-bold">充值时间</p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center c-font-bold">到账时间</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 c-margin-b-40">
                <div class="row c-border-bottom" ng-repeat="wallet in wallets">
                    <div class="col-md-3">
                        <p class=" c-font-red c-font-bold ">
                            <span class="c-font-12">￥</span>{{toDecimal2(wallet.money)}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class=" ">
                            {{wallet.event}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center ">{{wallet.created_at}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center ">{{wallet.finishTime}}</p>
                    </div>
                </div>
            </div>
            <div class="c-margin-t-20"></div>
            <!-- BEGIN: 分页页码 -->
            <ul class="c-content-pagination c-square c-theme pull-right">
                <li class="c-prev">
                    <a href="JavaScript:" ng-click="setpages(-1,0)">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <li class="{{page==data.pageNumber?'c-active':''}}" ng-click="setpages(page,1)" ng-repeat="page in pages1">
                    <a href="JavaScript:">{{page}}</a>
                </li>
                <li class="c-next">
                    <a href="JavaScript:" ng-click="setpages(+1,0)">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- END: 分页页码-->
        </div>
        <div ng-if="show" class="c-margin-b-40">
            <div class="col-md-12">
                <div class="row c-border-bottom c-margin-b-20 c-font-14">
                    <div class="col-md-3">
                        <p class="  c-font-bold ">
                            提现金额
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class=" c-font-bold">
                            到账账户
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center c-font-bold">提现时间</p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center c-font-bold">到账时间</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 c-margin-b-40">
                <div class="row c-border-bottom" ng-repeat="CashOn in withDrawList">
                    <div class="col-md-3">
                        <p class=" c-font-red c-font-bold ">
                            <span class="c-font-12">￥</span>{{toDecimal2(CashOn.money)}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class=" ">
                            {{CashOn.bankName}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center ">{{CashOn.created_at}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="c-center ">{{CashOn.arriveTime}}</p>
                    </div>
                </div>
            </div>
            <div class="c-margin-t-20"></div>
            <!-- BEGIN: 分页页码 -->
            <ul class="c-content-pagination c-square c-theme pull-right">
                <li class="c-prev">
                    <a href="JavaScript:" ng-click="setpages1(-1,0)">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <li class="{{page1==data2.pageNumber?'c-active':''}}" ng-click="setpages1(page1,1)" ng-repeat="page1 in pages">
                    <a href="JavaScript:">{{page1}}</a>
                </li>
                <li class="c-next">
                    <a href="JavaScript:" ng-click="setpages1(+1,0)">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- END: 分页页码-->
        </div>

    </div>
</div>
<div class="modal fade c-content-login-form" id="walletform" role="dialog" >
    <div class="modal-dialog" style="width: 760px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>充值</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-b-30 c-margin-t-20">
                    <div class="col-md-12">
                        <p>账户余额<span class="c-font-red"><span class="c-font-12">￥</span>{{toDecimal2(walletAmount)}}</span></p>
                    </div>
                </div>
                <form>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">充值金额：</label>
                                <div class="col-md-8">
                                    <input ng-model="data3.money" class="form-control  c-square c-theme" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">充值方式：</label>
                                <div class="col-md-8">
                                    <select ng-model="data3.event"  class="form-control  c-square c-theme">
                                        <option value="3">支付宝充值</option>
                                        <option value="4">微信充值</option>
                                        <option value="6">银联充值</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <label class="col-md-2 control-label c-font-14">充值备注：</label>
                        <div class="col-md-10">
                            <input ng-model="data3.note" class="form-control  c-square c-theme" type="text" />
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <div class="col-md-6 c-right">
                            <button ng-click="recharge()" class="btn c-btn-green c-theme-btn c-btn-square">提交</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn c-btn-grey c-btn-square" ng-click="clean()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="CashOnform" role="dialog" >
    <div class="modal-dialog" style="width: 760px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>提现</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-b-30 c-margin-t-20">
                    <div class="col-md-12">
                        <p>账户余额<span class="c-font-red"><span class="c-font-12">￥</span>{{toDecimal2(walletAmount)}}</span></p>
                    </div>
                </div>
                <form>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">提现金额：</label>
                                <div class="col-md-8">
                                    <input ng-model="data1.money" class="form-control  c-square c-theme" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">账户类型：</label>
                                <div class="col-md-8">
                                    <select class="form-control  c-square c-theme" ng-model="data1.accountType">
                                        <option value="1">支付宝账号</option>
                                        <option value="2">微信账号</option>
                                        <option value="3">银行卡账号</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-6" ng-if="data1.accountType==1">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">支付宝账号：</label>
                                <div class="col-md-8">
                                    <input ng-model="data1.aplipayAccount" class="form-control  c-square c-theme" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 "  ng-if="data1.accountType==2">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">微信账号：</label>
                                <div class="col-md-8">
                                    <input ng-model="data1.weixinAccount" class="form-control  c-square c-theme" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 "  ng-if="data1.accountType==3">
                            <div class="row">
                                <label class="col-md-4 control-label c-font-14">银行卡账户：</label>
                                <div class="col-md-8">
                                    <select class="form-control  c-square c-theme" ng-model="data1.bankCard_id" ng-options="x.id as x.bankName for x in myBankCardList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <label class="col-md-2 control-label c-font-14">提现备注：</label>
                        <div class="col-md-10">
                            <input ng-model="data1.note" class="form-control  c-square c-theme" type="text" />
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <div class="col-md-6 c-right">
                            <button ng-click="submitCashon()" class="btn c-btn-green c-theme-btn c-btn-square">提交</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn c-btn-grey c-btn-square" ng-click="clean()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>