<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->

<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-sbold">全部商品</h3>
            <h4 class="">新鲜果蔬>水果</h4>
        </div>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<!-- BEGIN: PAGE CONTENT -->
<!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="c-shop-product-details-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-product-gallery">
                        <div class="c-product-gallery-content">
                            <div class="c-zoom">
                                <img src="images/product_01.jpg"> </div>
                            <div class="c-zoom">
                                <img src="images/product_02.jpg"> </div>
                            <div class="c-zoom">
                                <img src="images/product_01.jpg"> </div>
                            <div class="c-zoom">
                                <img src="images/product_01.jpg"> </div>
                        </div>
                        <div class="row c-product-gallery-thumbnail">
                            <div class="col-xs-3 c-product-thumb">
                                <img src="images/product_01.jpg"> </div>
                            <div class="col-xs-3 c-product-thumb">
                                <img src="images/product_02.jpg"> </div>
                            <div class="col-xs-3 c-product-thumb">
                                <img src="images/product_01.jpg"> </div>
                            <div class="col-xs-3 c-product-thumb c-product-thumb-last">
                                <img src="images/product_01.jpg"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-product-meta">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">新鲜水果橙</h3>
                        </div>
                        <div class="c-product-badge">
                            <div class="c-product-sale ">新品</div>
                            <div class="c-product-new c-theme-bg">热销</div>
                        </div>
                        <div class="c-product-review">
                            <div class="c-product-rating">
                                <i class="fa fa-star c-font-red"></i>
                                <i class="fa fa-star c-font-red"></i>
                                <i class="fa fa-star c-font-red"></i>
                                <i class="fa fa-star c-font-red"></i>
                                <i class="fa fa-star-half-o c-font-red"></i>
                            </div>
                            <div class="c-product-write-review">
                                <a class="c-font-red" href="javascript:void(0);">评价</a>
                            </div>
                        </div>
                        <div class="c-product-price">￥99.00</div>
                        <div class="row c-product-variant">
                            <div class="col-sm-12 col-xs-12">
                                <p class="c-product-meta-label c-product-margin-1 c-font-uppercase ">优惠:</p>
                                <div class="c-product-size c-margin-t-5">
                                    夏日冰点价大促，满199减30，更有豪礼送！
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <p class="c-product-meta-label c-product-margin-1 c-font-uppercase ">运费:</p>
                                <div class="c-product-size c-margin-t-5">
                                    ￥0.00
                                </div>
                            </div>

                        </div>
                        <div class="c-product-add-cart c-margin-t-20">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="c-input-group c-spinner">
                                        <p class="c-product-meta-label c-product-margin-2 c-font-uppercase">数量:</p>
                                        <input type="text" class="form-control c-item-1" value="1">
                                        <div class="c-input-group-btn-vertical" style="width: 10%">
                                            <button class="btn btn-default" type="button" data_input="c-item-1">
                                                <i class="fa fa-caret-up"></i>
                                            </button>
                                            <button class="btn btn-default" type="button" data_input="c-item-1">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                        <div class="c-input-group-btn-vertical c-font-14">库存10000斤</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                    <div class="c-input-group c-spinner">
                                        <p class="c-product-meta-label c-product-margin-2 c-font-uppercase">包装:</p>
                                        <select >
                                            <option value="Red">箱装</option>
                                            <option value="Black">袋装</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 c-margin-t-40 c-font-right">
                                    <button class="btn btn-lg btn-danger c-btn-square c-btn-uppercase c-btn-bold">加入购物车</button>
                                    <button class="btn btn-lg  c-btn-square c-btn-uppercase c-btn-bold c-btn-green">立即购买</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
<!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
<div class="c-content-box c-size-md c-no-padding">
    <div class="c-shop-product-tab-1" role="tabpanel">
        <div class="container">
            <ul class="nav nav-justified" role="tablist">
                <li role="presentation" >
                    <a class="c-font-uppercase c-font-bold" href="#/product" role="tab" data-toggle="tab">商品详情</a>
                </li>
                <li role="presentation" class="active">
                    <a class="c-font-uppercase c-font-bold" href="#/comment" role="tab" data-toggle="tab">累计评论(2)</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="comment">


                <div class="c-product-desc c-bg-dark">
                    <div class="container">
                        <div class ="row">
                            <div class="col-md-6">
                                <img src="images/火龙果2.png" /> </div>
                            <div class="col-md-6">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-white c-font-bold">广西隆安白肉火龙果</h3>
                                    <div class="c-line-left"></div>
                                </div>
                                <p class="c-font-grey"> 火龙果营养丰富、功能独特，它含有一般植物少有的植物性蛋白以及花青素，丰富的维生素和水溶性膳食纤维。颜色越红越好，表皮红润表示果实新鲜，果实越胖越好，越胖表示越成熟。
                                    火龙果属于凉性水果，在自然状态下，果实于夏秋成熟，味甜，多汁。质地柔和，口味清香。果肉细腻多汁，入口爽嫩，有一股淡淡的清香。
                                    火龙果有预防便秘、促进眼睛保健、预防贫血和降低胆固醇、皮肤美白防黑斑的功效外，还具有解除重金属中毒、防老年病变、瘦身、等功效。
                                    源自“彩云之南”的云南省，亚热带高原气候，地处低纬度高原，日温差可达11度-20度。全年降水量在1100MM，夏季降水充沛。在这样优势的种植环境下，孕育了甜蜜而表皮厚实的红提。
                                </p>
                                <br>
                                <button class="btn c-btn btn-lg c-theme-btn c-font-uppercase c-font-bold c-btn-square">查看详情</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-product-desc c-bg-grey">
                    <div class="container">
                        <div class ="row">
                            <div class="col-md-6">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold c-right">云南新鲜葡萄</h3>
                                    <div class="c-line-right"></div>
                                </div>
                                <p class="c-right">火龙果营养丰富、功能独特，它含有一般植物少有的植物性蛋白以及花青素，丰富的维生素和水溶性膳食纤维。颜色越红越好，表皮红润表示果实新鲜，果实越胖越好，越胖表示越成熟。
                                    火龙果属于凉性水果，在自然状态下，果实于夏秋成熟，味甜，多汁。质地柔和，口味清香。果肉细腻多汁，入口爽嫩，有一股淡淡的清香。
                                    火龙果有预防便秘、促进眼睛保健、预防贫血和降低胆固醇、皮肤美白防黑斑的功效外，还具有解除重金属中毒、防老年病变、瘦身、等功效。
                                    源自“彩云之南”的云南省，亚热带高原气候，地处低纬度高原，日温差可达11度-20度。全年降水量在1100MM，夏季降水充沛。在这样优势的种植环境下，孕育了甜蜜而表皮厚实的红提。
                                    艳红的表皮，饱满的果身，厚实的果肉，不易掉枝，不易损坏，甜度约在18度左右，高于哈密瓜，苹果的甜度。果肉紧实富有弹性，吃起来，脆爽可口。
                                    红提里面富含丰富的维生素、矿物质和多种果酸物质，经常食用可清除体内自由基，阻止血小板凝聚，防止人身体低密度脂蛋白氧化，抗肿瘤等作用。</p>
                                <br>
                                <button class="btn c-float-r c-btn btn-lg c-theme-btn c-font-uppercase c-font-bold c-btn-square">查看详情</button>
                            </div>
                            <div class="col-md-6">
                                <img src="images/葡萄-2.png" /> </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
<!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
    <div class="container">
        <div class="c-content-title-4">
            <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                <span class="c-bg-white">更多商品</span>
            </h3>
        </div>
        <div class="row">
            <div data-slider="owl" data-items="4" data-auto-play="8000">
                <div class="owl-carousel owl-theme c-theme owl-small-space">
                    <div class="item">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#/product" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看详情</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(images/p4-1.png);"></div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-18 c-font-slim">越南大青芒</p>
                                <p class="c-price c-font-16 c-font-slim">￥4.80 &nbsp;
                                    <span class="c-font-16 c-font-line-through c-font-red">￥5.90</span>
                                </p>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">立即购买</a>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">加入购物车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#/product" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看详情</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(images/p4-1.png);"></div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-18 c-font-slim">越南大青芒</p>
                                <p class="c-price c-font-16 c-font-slim">￥4.80 &nbsp;
                                    <span class="c-font-16 c-font-line-through c-font-red">￥5.90</span>
                                </p>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">立即购买</a>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">加入购物车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#/product" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看详情</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(images/p4-1.png);"></div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-18 c-font-slim">越南大青芒</p>
                                <p class="c-price c-font-16 c-font-slim">￥4.80 &nbsp;
                                    <span class="c-font-16 c-font-line-through c-font-red">￥5.90</span>
                                </p>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">立即购买</a>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">加入购物车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#/product" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看详情</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(images/p4-1.png);"></div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-18 c-font-slim">越南大青芒</p>
                                <p class="c-price c-font-16 c-font-slim">￥4.80 &nbsp;
                                    <span class="c-font-16 c-font-line-through c-font-red">￥5.90</span>
                                </p>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">立即购买</a>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <a href="javascript:void(0);" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">加入购物车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-2-2 -->


<script>
    $(document).ready(function()
    {
        App.init(); // init core
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
<script src="assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->
<script src="assets/base/js/components.js" type="text/javascript"></script>
<script src="assets/base/js/components-shop.js" type="text/javascript"></script>
<script src="assets/base/js/app.js" type="text/javascript"></script>
