<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">

    </div>
</div>
<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c-border-bottom c-border-green-1 c-border-2px"></div>
            <div class="col-md-12 padding-0">
                <div class="col-md-3 c-border padding-0" >
                    sdefsadf
                </div>
                <div class="col-md-9 c-border padding-0">
                    <div class="shopnav c-bg-grey ">
                        <div class="col-md-3 ">
                            <div class="input-group c-square c-margin-t-10">
                                <span class="input-group-addon c-bg-white" style="height: 34px;border: 0;">
                                    <i class="fa fa-bars c-font-18"></i>
                                </span>
                                <select class="form-control  c-square c-theme" style="display: inline-block;border: 0;" >
                                    <option value="1">首页</option>
                                    <option value="2">商品详情</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="shop_nav_but">
                                <button class="btn btn-default c-btn-uppercase c-btn-square">
                                    页面编辑
                                </button>
                            </div>
                            <div class="shop_nav_but">
                                <button class="btn btn-default c-btn-uppercase c-btn-square c-bg-grey-5 c-font-dark-3">
                                    布局管理
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>