
<div class="container c-margin-t-30 c-margin-b-50">
    <div class="col-md-6 c-center">
        <img height="250" src="images/login.png">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default c-panel">
            <div class="panel-body c-panel-body">
                <div class="c-content-title-1">
                    <h3 class="c-left">
                        <i class="icon-user"></i> 现在还没账号？立即注册</h3>
                    <div class="c-line-left c-theme-bg"></div>
                </div>
                <form class="c-form-register c-margin-t-20">
                    <div class="c-content-tab-1 c-theme c-margin-t-30">
                        <div class="clearfix">
                            <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                                <li class="col-md-6 c-center">
                                    <a href="#register" data-toggle="tab">手机注册</a>
                                </li>
                                <li class="active col-md-6 c-center">
                                    <a href="#email" data-toggle="tab">邮箱注册</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content c-bordered c-padding-lg">
                            <div class="tab-pane" id="tab_1_1_content">
                                <div class="form-group">
                                    <label class="control-label">手机号</label>
                                    <input type="text" class="form-control c-square c-theme" placeholder="手机号码">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">验证码</label>
                                    <div class="input-group input-group-lg c-square">
                                        <input type="text" class="form-control c-square c-font-grey-3 c-border-grey c-theme" placeholder="输入验证码" />
                                <span class="input-group-btn">
                                    <button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button">获取手机验证码</button>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">设置密码</label>
                                    <input type="password" class="form-control c-square c-theme" placeholder="设置密码">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">确定密码</label>
                                    <input type="password" class="form-control c-square c-theme" placeholder="设置密码">
                                </div>
                                <div class="form-group c-margin-t-40">
                                    <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">注册</button>
                                    <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">登陆</button>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab_1_2_content">
                                <div class="form-group">
                                    <label class="control-label">邮箱</label>
                                    <input type="text" class="form-control c-square c-theme" placeholder="邮箱">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">密码</label>
                                    <input type="password" class="form-control c-square c-theme" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">确认密码</label>
                                    <input type="password" class="form-control c-square c-theme" placeholder="确认密码">
                                </div>
                                <div class="form-group c-margin-t-40">
                                    <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">注册</button>
                                    <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">登陆</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>