
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
    <section class="c-layout-revo-slider c-layout-revo-slider-14">
        <div class="tp-banner-container tp-fullscreen" style="cursor: pointer">
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li ng-click="topath(item.url)" data-transition="fade" data-slotamount="1" data-masterspeed="1000" ng-repeat="item in banners" >
                        <img alt="" ng-src="{{item.path}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
    <!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1" ng-if="images.length==0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 c-bg-white ">
                    <div class="col-md-3 c-border-right-grey c-border-2px c-border-right" ng-repeat="img in images">
                        <img ng-src="{{img.path}}" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="data in recommends">
        <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-4">
                    <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                        <a href="#/products" style="position: absolute;right: 0;z-index: 3" class="btn btn-default c-btn-uppercase c-btn-circle c-btn-uppercase">更多</a>
                        <span class="c-bg-grey-1">{{data.positionName}}</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 c-margin-b-20" ng-repeat="product in data.productList">
                        <div class="c-content-product-2 c-bg-white">
                            <div class="c-content-overlay">
                                <!--<div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>-->
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#/product?id={{product.id}}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{product.recommendPic}});"></div>
                            </div>
                            <div class="c-info">
                                <h2 class="c-title c-font-18 c-font-slim" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{product.name}}</h2>
                                <p class="c-price c-font-16 c-font-slim">￥{{product.suggestedRetailUnitPrice}}
                                </p>
                                <span class="c-product-sale c-font-14 c-bg-green c-font-white" style="padding: 2px 10px;" ng-if="product.shopType==1">第三方运营</span>
                                <span class="c-product-sale c-font-14 c-bg-green c-font-white" style="padding: 2px 10px;" ng-if="product.shopType==2">O2O服务区</span>
                                <span class="c-product-sale c-font-14 c-bg-green c-font-white" style="padding: 2px 10px;" ng-if="product.shopType==3">自营</span>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <button class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" ng-click="comfirmOrder(product.id)">立即购买</button>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <button class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" ng-click="shoppingCart(product.id)">加入购物车</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
            <div class="container">
                <div class="row c-margin-b-20" ng-repeat="item in data.advertised">
                    <img style="width: 100%" ng-src="{{item.path}}">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space " >-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12 c-bg-white ">-->
                    <!--<div class="col-md-4  ">-->
                        <!--<div class="c-border important-padding-20 row c-margin-0">-->
                            <!--<div class="col-md-3 c-margin-t-20">-->
                                <!--<img ng-src="images/icon1.png" class="img-responsive" alt="" />-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                                <!--<h2 class="c-font-bold c-font-16">原产地直采</h2>-->
                                <!--<p class="c-font-14">不仅能够降低成本，更加将新鲜的产品更快的送到您身边。</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4  ">-->
                        <!--<div class="c-border important-padding-20 row c-margin-0">-->
                            <!--<div class="col-md-3 c-margin-t-20">-->
                                <!--<img ng-src="images/icon2.png" class="img-responsive" alt="" />-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                                <!--<h2 class="c-font-bold c-font-16">新鲜品质</h2>-->
                                <!--<p class="c-font-14">不仅能够降低成本，更加将新鲜的产品更快的送到您身边。</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4  ">-->
                        <!--<div class="c-border important-padding-20 row c-margin-0">-->
                            <!--<div class="col-md-3 c-margin-t-20">-->
                                <!--<img ng-src="images/icon3.png" class="img-responsive" alt="" />-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                                <!--<h2 class="c-font-bold c-font-16">价格实惠</h2>-->
                                <!--<p class="c-font-14">不仅能够降低成本，更加将新鲜的产品更快的送到您身边。</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <script>
        $(document).ready(function()
        {
           // App.init(); // init core
        });
    </script>
    <!-- END: THEME SCRIPTS -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <script>
        var initSilder = function () {
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');
            var api = slider.show().revolution(
                    {
                        sliderType: "standard",
                        sliderLayout: "fullscreen",
                        responsiveLevels: [2048, 1024, 778, 320],
                        gridwidth: [1240, 1024, 778, 320],
                        gridheight: [868, 768, 960, 720],
                        delay: 15000,
                        startwidth: 1170,
                        startheight: App.getViewPort().height,
                        navigationType: "hide",
                        navigationArrows: "solo",
                        touchenabled: "on",
                        navigation:
                        {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "on",
                            arrows:
                            {
                                style: "circle",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left:
                                {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 30,
                                    v_offset: 0
                                },
                                right:
                                {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 30,
                                    v_offset: 0
                                }
                            }
                        },
                        spinner: "spinner2",
                        fullScreenOffsetContainer: '.c-layout-header',
                        shadow: 0,
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "on",
                        hideNavDelayOnMobile: 1500,
                        hideBulletsOnMobile: "on",
                        hideArrowsOnMobile: "on",
                        hideThumbsUnderResolution: 0
                    });
        }
        $(document).ready(function()
        {
            App.init(); // init core
        });
    </script>
    <!-- END: PAGE SCRIPTS -->
    <!--begin百度商桥-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?60451cef60c6f50ef41107f6208bc798";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--end百度商桥-->




