<!-- BEGIN: 个人中心菜单 -->
<div class="c-layout-sidebar-menu c-theme ">
    <div class="c-theme-bg c-padding-10 c-font-white">
        <a href="#/center" class="c-font-white">
            <span class="icon-user"></span>
            个人中心
        </a>

    </div>
    <ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
        <li class="c-dropdown {{menu==0?'c-active c-open':''}}">
            <a href="#/myOrders" class="c-toggler">我的订单
                <span class="c-arrow"></span>
            </a>
            <ul class="c-dropdown-menu">
                <li class="{{state==0?'c-active':''}}">
                    <a href="#/myOrders">全部订单</a>
                </li>
                <li class="{{state==1?'c-active':''}}" >
                    <a href="#/myOrders1">待支付订单</a>
                </li>
                <li class="{{state==2?'c-active':''}}">
                    <a href="#/myOrders2">待发货订单</a>
                </li>
                <li class="{{state==3?'c-active':''}}">
                    <a href="#/myOrders3">待收货订单</a>
                </li>
                <li class="{{state==4?'c-active':''}}" >
                    <a href="#/myOrders4">待评价订单</a>
                </li>
                <li class="{{state==5?'c-active':''}}">
                    <a href="#/myOrders5">已完成订单</a>
                </li>
                <li class="{{state==6?'c-active':''}}" >
                    <a href="#/myBack">退货</a>
                </li>
                <li class="{{state==7?'c-active':''}}">
                    <a href="#/myRefund">退款</a>
                </li>
            </ul>
        </li>
        <li class="c-dropdown {{menu==1?'c-active c-open':''}}">
            <a href="#/myAddresses" class="c-toggler">我的地址
                <span class="c-arrow"></span>
            </a>
            <ul class="c-dropdown-menu ">
                <li class="c-active">
                    <a href="#/myAddresses">我的地址</a>
                </li>
            </ul>
        </li>
        <li class="c-dropdown {{menu==2?'c-active c-open':''}}">
            <a href="#/myPoints" class="c-toggler">我的积分
                <span class="c-arrow"></span>
            </a>
        </li>
        <li class="c-dropdown {{menu==3?'c-active c-open':''}}">
            <a href="#/collectionProducts" class="c-toggler">我的收藏
                <span class="c-arrow"></span>
            </a>
            <ul class="c-dropdown-menu">
                <li class="{{state==0?'c-active':''}}">
                    <a href="#/collectionProducts">商品收藏</a>
                </li>
                <li class="{{state==1?'c-active':''}}">
                    <a href="#/collectionShops">店铺收藏</a>
                </li>
            </ul>
        </li>
        <li class="c-dropdown {{menu==4?'c-active c-open':''}}">
            <a href="#/myCoupons" class="c-toggler">我的优惠劵
                <span class="c-arrow "></span>
            </a>
            <ul class="c-dropdown-menu">
                <li class="{{state==0?'c-active':''}}">
                    <a href="#/myCoupons">我的优惠券</a>
                </li>
                <li class="{{state==1?'c-active':''}}">
                    <a href="#/myCash">我的现金劵</a>
                </li>
            </ul>
        </li>
        
        <li class="c-dropdown {{menu==5?'c-active c-open':''}}">
            <a href="#/myBankcard" class="c-toggler">我的钱包
                <span class="c-arrow "></span>
            </a>
            <ul class="c-dropdown-menu">
                <li class="{{state==0?'c-active':''}}">
                    <a href="#/burseRecords">我的钱包</a>
                </li>
                <li class="{{state==1?'c-active':''}}">
                    <a href="#/myBankcard">我的银行卡</a>
                </li>
                <li class="{{state==2?'c-active':''}}">
                    <a href="#/myGold">我的金币</a>
                </li>
            </ul>
        </li>
        <li class="c-dropdown {{menu==6?'c-active c-open':''}}">
            <a href="#/myCurrency" class="c-toggler">通币详情
                <span class="c-arrow "></span>
            </a>
            <ul class="c-dropdown-menu">
                <li class="{{state==0?'c-active':''}}">
                    <a href="#/burseRecords">我的钱包</a>
                </li>
                <li class="{{state==1?'c-active':''}}">
                    <a href="#/myBankcard">我的银行卡</a>
                </li>
                <li class="{{state==2?'c-active':''}}">
                    <a href="#/myGold">我的金币</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END: 个人中心菜单 -->