<!-- BEGIN: 轮播 -->
<section class="c-layout-revo-slider c-layout-revo-slider-14">
    <div class="tp-banner-container tp-fullscreen">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <!--BEGIN: SLIDE #1 -->
                <li ng-click="topath(img.url)" data-transition="fade" data-slotamount="1" data-masterspeed="1000" ng-repeat="img in banners">
                    <img alt="{{img.note}}" ng-src="{{img.path}}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                </li>
                <!--END -->
            </ul>
        </div>
    </div>
</section>
<!-- END: 轮播-->

<div ng-repeat="item in promotions" >
    <!-- BEGIN: 特别推荐商品-->
    <div class="c-content-box c-size-lg c-bg-purple-1" ng-if="item.products[0]"  style="cursor: pointer" ng-click="toPromotion(item.id,item.promotionType)" >
        <div class="container">
            <div class="row" >
                <div class="c-shop-banner-3 c-center">
                    <h3 class="c-title c-font-uppercase c-font-bold c-font-35 c-font-white">{{item.promotionTitle}}</h3>
                    <p class="c-desc c-font-uppercase c-font-bold c-font-25 c-font-yellow-1">{{item.promotionDescription}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="c-content-box  c-no-padding c-overflow-hide c-bs-grid-reset-space " >
        <div class="row " ng-if="item.products[0]">
            <div class="col-md-6 col-sm-6">
                <div class="c-content-product-4 c-content-bg-1">
                    <div class="col-md-6 col-sm-6" style="cursor: pointer" ng-click="toProductDetail(item.products[0].id)">
                        <div class="c-wrapper">
                            <div class="c-side-image" style="background-image: url({{item.products[0].mainPic}}); background-position: initial;background-size: auto 100%;"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="c-content c-align-right">
                            <h3 class="c-title c-font-bold c-font-35 c-font-dark" style="cursor: pointer" ng-click="toProductDetail(item.products[0].id)">{{item.products[0].name}}</h3>
                            <p class="c-description c-font-20 c-font-regular">{{item.products[0].summary}}</p>
                            <p class="c-price c-font-60 c-font-thin c-font-dark"><span class="c-font-40">￥</span>{{toDecimal2(item.products[0].suggestedRetailUnitPrice)}}</p>
                            <a href="#/product?id={{item.products[0].id}}"  target="_blank" class="btn btn-lg c-btn-grey-3 c-font-uppercase c-btn-square c-btn-border-1x">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6" ng-if="item.products[1]">
                <div class="c-content-product-4 c-content-bg-2">
                    <div class="col-md-6 col-sm-6">

                        <div class="c-content c-align-left">
                            <h3 class="c-title c-font-bold c-font-35 c-font-dark" style="cursor: pointer" ng-click="toProductDetail(item.products[1].id)">{{item.products[1].name}}</h3>
                            <p class="c-description c-font-20 c-font-regular">{{item.products[1].summary}}</p>
                            <p class="c-price c-font-60 c-font-thin c-font-dark"><span class="c-font-40">￥</span>{{toDecimal2(item.products[1].suggestedRetailUnitPrice)}}</p>
                            <a href="#/product?id={{item.products[1].id}}"  target="_blank" class="btn btn-lg c-btn-grey-3 c-font-uppercase c-btn-square c-btn-border-1x">立即购买</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" style="cursor: pointer" ng-click="toProductDetail(item.products[1].id)">
                        <div class="c-wrapper">
                            <div class="c-side-image" style="background-image: url({{item.products[1].mainPic}}); background-position: initial;background-size: auto 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c-content-box c-size-md c-bg-parallax" ng-if="many" style="background-image: url(images/promotion_bg.jpg);">
    <div class="container">
        <div class="c-content-title-4">
            <div class="col-md-4 c-content-title-4 c-margin-0">
                <h3 class="c-font-uppercase c-center c-font-bold     c-line-strike">

                </h3>
            </div>
            <div class="col-md-4 " style="top:-20px">
                <h3 class="c-font-uppercase c-center c-font-bold c-font-grey c-font-30" >
                    积分换购专区
                </h3>
            </div>
            <div class="col-md-4 c-content-title-4">
                <h3 class="c-font-uppercase c-center c-font-bold     c-line-strike">

                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 c-margin-b-20" style="padding: 0 5px;" ng-repeat="item in many">
                <div class="c-content-product-2 c-bg-white">
                    <div class="c-content-overlay">
                        <!--<div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>-->
                        <!--<div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>-->
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a href="#/product?id={{item.id}}"  target="_blank" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
                            </div>
                        </div>
                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{item.mainPic}});"></div>
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-18 c-font-slim" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{item.name}}</p>
                        <p class="c-price c-font-16 c-font-red c-font-slim"><span class="c-font-12">￥</span>{{toDecimal2(item.suggestedRetailUnitPrice)}} &nbsp;
                            <!--<span class="c-font-16 c-font-line-through c-font-red">￥369</span>-->
                        </p>
                    </div>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group c-border-top" role="group">
                            <a href="#/product?id={{item.id}}"  target="_blank" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">立即购买</a>
                        </div>
                        <div class="btn-group c-border-left c-border-top" role="group">
                            <a href="#/product?id={{item.id}}"  target="_blank" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">加入购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: 特别推荐商品 -->
<script>
    $(document).ready(function()
    {
        App.init(); // init core
    });
</script>
<!-- BEGIN: 页面js -->
<script>
    var initSilder = function () {
        var slider = $('.c-layout-revo-slider .tp-banner');
        var cont = $('.c-layout-revo-slider .tp-banner-container');
        var api = slider.show().revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "fullscreen",
                    responsiveLevels: [2048, 1024, 778, 320],
                    gridwidth: [1240, 1024, 778, 320],
                    gridheight: [868, 768, 960, 720],
                    delay: 15000,
                    startwidth: 1170,
                    startheight: App.getViewPort().height,
                    navigationType: "hide",
                    navigationArrows: "solo",
                    touchenabled: "on",
                    navigation:
                    {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        arrows:
                        {
                            style: "circle",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left:
                            {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            },
                            right:
                            {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            }
                        }
                    },
                    spinner: "spinner2",
                    fullScreenOffsetContainer: '.c-layout-header',
                    shadow: 0,
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "on",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "on",
                    hideArrowsOnMobile: "on",
                    hideThumbsUnderResolution: 0
                });
    }
    $(document).ready(function()
    {


    }); //ready
</script>
<!-- END: 页面js-->