

<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered  c-border-grey c-border-2px">
            <div class=" c-padding-20">
                <div class="findPwd_bar_box">
                    <div class="findPwd_bar"></div>
                    <div class="state2 findPwd_bar_state1 ">
                        <div class="findPwd_bar_round_1" >1</div>
                        <p>买家申请退货</p>
                    </div>
                    <div class="state3 findPwd_bar_state1 ">
                        <div class="findPwd_bar_round_1" >2</div>
                        <p>卖家处理退货申请</p>
                    </div>
                    <div class="state4 findPwd_bar_state2 ">
                        <div class="findPwd_bar_round_2" >3</div>
                        <p>退货完成</p>
                    </div>
                </div>
            </div>

            <!-- BEGIN: 订单开始 -->
            <div class="c-content-box c-size-lg">
                <div class="container">
                    <div class="c-shop-cart-page-1 col-md-11">
                        <div class="row c-cart-table-title">
                            <div class="col-md-2 c-cart-image">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">商品信息</h3>
                            </div>
                            <div class="col-md-3 c-cart-desc">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2"></h3>
                            </div>
                            <div class="col-md-1 c-cart-qty">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">单价</h3>
                            </div>
                            <div class="col-md-2 c-cart-price">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">数量</h3>
                            </div>
                            <div class="col-md-2 c-cart-total">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">总价</h3>
                            </div>
                            <div class="col-md-2 c-cart-total">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">商家</h3>
                            </div>
                        </div>
                        <!-- BEGIN: 订单列表开始 -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 1</h2>
                            <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                                <img src="images/p2-2.png" class="img-responsive"/>
                            </div>
                            <div class="col-md-3 col-sm-9 col-xs-7 c-cart-desc">
                                <p>
                                    <a href="#/product" class="c-font-bold c-theme-link c-font-dark">海南蜜宝红心火龙果2.5kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">规格：250-350kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">包装：箱装</a>
                                </p>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                                <p class="c-cart-price c-font-bold">￥39.00</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
                                <p class="c-cart-price c-font-bold">2</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">￥78</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">YOYO旗舰店</p>
                            </div>
                        </div>
                        <!-- END: 订单列表结束 -->
                        <div class=" c-margin-t-20">
                            <div class=" c-theme-color">
                                <img src="images/backresult.png"/>
                                <span class="c-padding-10">退款成功</span>
                            </div>
                        </div>
                        <div class=" c-margin-t-15">
                            <div class="c-font-14">
                                <span>退款金额：</span>
                                <span class="c-padding-10">￥79.80</span>
                                <a href="javascript:void(0);">查看支付宝记录</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="c-content-tab-1 c-theme">
                                    <div class="nav-justified">
                                        <div class="tab-content">
                                            <div class="tab-pane active">
                                                <div class="c-content-recent-posts-1 ">
                                                    <div class="row c-padding-20">
                                                        <div class="col-md-12 c-padding-20 c-border-bottom c-bg-grey-1" style="border-style: none none dashed">
                                                            <div class="col-md-3">
                                                                退款明细
                                                            </div>
                                                            <div  class="col-md-3">
                                                                货款金额(元)
                                                            </div>
                                                            <div  class="col-md-6">
                                                                状态
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 c-bg-grey-1 c-padding-20">
                                                            <div class="col-md-3">
                                                                退货银行卡
                                                            </div>
                                                            <div  class="col-md-3">
                                                                79.80
                                                            </div>
                                                            <div  class="col-md-6">
                                                                已退回中国工商银行卡（尾号5464）
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 c-bg-grey-1 c-padding-20">
                                                            <div class="col-md-12 c-bg-white c-padding-20" style="height: 100px">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            由于您在乐驿网上购物评级良好，享有急速退货特权，乐驿已为您优先退货，现已将货款79.80元先退给您。
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: 订单结束 -->
        </div>
    </div>
</div>
<!-- END:页面内容 -->