

<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered  c-border-grey c-border-2px">
            <div class=" c-padding-20">
                <div class="findPwd_bar_box">
                    <div class="findPwd_bar"></div>
                    <div class="state2 findPwd_bar_state1 ">
                        <div class="findPwd_bar_round_1" >1</div>
                        <p>买家申请退货</p>
                    </div>
                    <div class="state3 findPwd_bar_state2 ">
                        <div class="findPwd_bar_round_2" >2</div>
                        <p>卖家处理退货申请</p>
                    </div>
                    <div class="state4 findPwd_bar_state2 ">
                        <div class="findPwd_bar_round_2" >3</div>
                        <p>退货完成</p>
                    </div>
                </div>
            </div>

            <!-- BEGIN: 订单开始 -->
            <div class="c-content-box c-size-lg">
                <div class="container">
                    <div class="c-shop-cart-page-1 col-md-11">
                        <div class="row c-cart-table-title">
                            <div class="col-md-2 c-cart-image">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">商品信息</h3>
                            </div>
                            <div class="col-md-3 c-cart-desc">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2"></h3>
                            </div>
                            <div class="col-md-1 c-cart-qty">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">单价</h3>
                            </div>
                            <div class="col-md-2 c-cart-price">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">数量</h3>
                            </div>
                            <div class="col-md-2 c-cart-total">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">总价</h3>
                            </div>
                            <div class="col-md-2 c-cart-total">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">商家</h3>
                            </div>
                        </div>
                        <!-- BEGIN: 订单列表开始 -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 1</h2>
                            <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                                <img src="images/p2-2.png" class="img-responsive"/>
                            </div>
                            <div class="col-md-3 col-sm-9 col-xs-7 c-cart-desc">
                                <p>
                                    <a href="#/product" class="c-font-bold c-theme-link c-font-dark">海南蜜宝红心火龙果2.5kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">规格：250-350kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">包装：箱装</a>
                                </p>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                                <p class="c-cart-price c-font-bold">￥39.00</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
                                <p class="c-cart-price c-font-bold">2</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">￥78</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">YOYO旗舰店</p>
                            </div>
                        </div>
                        <!-- END: 订单列表结束 -->
                        <!-- BEGIN: 订单列表开始 -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 1</h2>
                            <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                                <img src="images/p2-2.png" class="img-responsive"/>
                            </div>
                            <div class="col-md-3 col-sm-9 col-xs-7 c-cart-desc">
                                <p>
                                    <a href="#/product" class="c-font-bold c-theme-link c-font-dark">海南蜜宝红心火龙果2.5kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">规格：250-350kg</a>
                                </p>
                                <p>
                                    <a href="#/product" class="c-theme-link c-font-dark">包装：箱装</a>
                                </p>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                                <p class="c-cart-price c-font-bold">￥39.00</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
                                <p class="c-cart-price c-font-bold">2</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">￥78</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
                                <p class="c-cart-price c-font-bold">YOYO旗舰店</p>
                            </div>
                        </div>
                        <!-- END: 订单列表结束 -->
                        <div class="row c-cart-table-row">
                            <p>订单号：123456789123456</p>
                            <p>收货信息：广东省 广州市 天河区 地中海酒店2409室</p>
                            <p>成交时间：2016-08-04 14:49:02</p>
                        </div>
                        <div class="c-body">
                            <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="clearfix">
                                    <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                                        <li>
                                            <a href="#tab_1_1_content" data-toggle="tab">我要退货</a>
                                        </li>
                                        <li class="active">
                                            <a href="#tab_1_2_content" data-toggle="tab">我要退款</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content c-bordered c-padding-lg">
                                    <div class="tab-pane" id="tab_1_1_content">

                                    </div>
                                    <div class="tab-pane active" id="tab_1_2_content">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">是否收货：</label>
                                                <div class="col-md-6">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> &nbsp;未收到货</label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> &nbsp;已收到货 </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">退货原因：</label>
                                                <div class="col-md-4">
                                                    <select class="form-control  c-square c-theme">
                                                        <option value="1">商品不合适</option>
                                                        <option value="2">买错</option>
                                                        <option value="3">Option 3</option>
                                                        <option value="4">Option 4</option>
                                                        <option value="5">Option 5</option>
                                                    </select>
                                                </div>
                                                <label class="col-md-2 c-align-left c-font-14 c-margin-t-10">请选择退货原因</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">退货金额:</label>
                                                <div class="col-md-4">
                                                    <input type="email" class="form-control  c-square c-theme" placeholder="￥78"> </div>
                                                <label class="col-md-2 c-align-left c-font-14 c-margin-t-10">最多退款￥78</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">退货说明：</label>
                                                <div class="col-md-6">
                                                    <textarea class="form-control  c-square c-theme" rows="3"></textarea>
                                                </div>
                                                <label class="col-md-2 c-align-left c-font-14 c-margin-t-50">还可以输入200字</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">上传凭证：</label>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">上传图片</button>
                                                </div>
                                                <label class="col-md-8 c-align-left c-font-14 c-margin-t-10">每张图片大小不得超过5M，最多3张，支持GIF、JPG、PNG格式</label>
                                            </div>
                                            <div class="form-group c-margin-t-30">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-danger c-btn-square c-btn-uppercase c-btn-bold">提交退货申请</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: 订单结束 -->
        </div>
    </div>
</div>
<!-- END:页面内容 -->