
<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered  c-border-grey c-border-2px">
            <div class=" c-padding-20">
                <div class="findPwd_bar_box">
                    <div class="findPwd_bar"></div>
                    <div class="row" style="position: absolute;top: -15px;width: 100%;">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3 c-center">
                            <div class="findPwd_bar_round_1" >1</div>
                            <p>填写注册信息</p>
                        </div>
                        <div class="col-md-3 c-center">
                            <div class="findPwd_bar_round_1" >2</div>
                            <p>注册完成</p>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>

                </div>
            </div>
            <div class="c-content-box c-size-lg">
                <div class="c-shop-cart-page-1 c-center">
                    <div class="row c-padding-20 c-center">
                        <img style="width: 70px;height: 70px;display: inline-block;margin-right: 25px;" src="images/findPwdResult.png"/>
                        <div class="c-margin-t-20" style="display: inline-block;">
                            <p>恭喜您，注册成功！</p>
                        </div>
                    </div>
                    <div class="c-margin-t-20">
                        <a class="c-font-red c-margin-r-40" href="#/home" >返回商城首页</a>
                        <a class="c-font-red" href="#/login" >立即登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END:页面内容 -->