

<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class=" c-padding-20">
            <div class="findPwd_bar_box">
                <div class="findPwd_bar"></div>

                <div class="state2 findPwd_bar_state1 ">
                    <div class="findPwd_bar_round_1" >1</div>
                    <p>验证注册</p>
                </div>
                <div class="state3 findPwd_bar_state2 ">
                    <div class="findPwd_bar_round_2" >2</div>
                    <p>验证邮箱</p>
                </div>
                <div class="state4 findPwd_bar_state2 ">
                    <div class="findPwd_bar_round_2" >3</div>
                    <p>验证成功</p>
                </div>
            </div>
        </div>
        <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered  c-border-grey c-border-2px">
            <div class="findPwd_form ">
                <div class="form-group">
                    <p class="c-font-red c-center">恭喜您，荣登会员！手机下单，享更多优惠哦！</p>
                </div>
                <div class="form-group c-center c-margin-b-60">
                    <img src="images/qr.jpg" style="width: 200px;"/>
                    <p class="c-font-brown-3 c-margin-t-10 c-center">扫码关注乐驿商城</p>
                </div>
                <div class="form-group">
                    <div class="c-body c-center">
                        <p class="c-font-brown-3 c-margin-t-10 c-center">登录{{email}}邮箱进行激活</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END:页面内容 -->