
<div class="container">
    <!-- BEGIN: 个人中心菜单 -->
    <div ng-include="'views/shopMenu.html'"></div>
    <!-- END: 个人中心菜单 -->
    <div class="c-layout-sidebar-content ">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <div class="c-content-title-1">
            <div class="row c-font-uppercase c-font-bold c-font-18 ">
                <div class="col-md-4">{{pageTitle}}</div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 c-padding-10">
                        </div>
                        <div class="col-md-6 c-padding-10 c-right">
                            <button data-toggle="modal" data-target="#addsalesForm"  ng-click="addForm()" class="btn c-btn-green c-btn-square c-theme-btn">添加</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-line-left c-theme-bg"></div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="c-border-bottom c-theme-border-bottom c-border-2px">
                </div>
                <div class="c-border col-md-12">
                    <div class="row c-cart-table-title c-bg-grey-1 c-border-bottom">
                        <div class="col-md-2 c-cart-image padding-0">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2 c-center">标题</h3>
                        </div>
                        <div class="col-md-3 c-cart-price padding-0 ">
                            <h3 class="c-font-uppercase c-font-bold  c-font-16 c-font-grey-2 c-center">说明</h3>
                        </div>
                        <div class="col-md-2 c-cart-price padding-0">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2 c-center">开始时间</h3>
                        </div>
                        <div class="col-md-2 c-cart-price padding-0">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2 c-center">结束时间</h3>
                        </div>
                        <div class="col-md-3 c-cart-qty padding-0">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2 c-center">操作</h3>
                        </div>
                    </div>

                    <!-- BEGIN: 优惠劵item-->
                    <div class="row c-cart-table-row  c-border-bottom c-border-grey" ng-repeat="item in many">
                        <div class="col-md-2 col-sm-6 col-sm-3 col-xs-5 c-cart-image c-padding-10 c-center" style="clear: none;">
                            <p class="c-cart-price c-font-bold c-font-14 c-margin-t-5">{{item.promotionTitle}}</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 c-cart-desc c-padding-10 c-no-padding c-center">
                            <p class="c-cart-price c-font-bold c-font-14 c-margin-t-5">{{item.promotionDescription}}</p>
                        </div>
                        <div class=" col-md-2 col-sm-3 col-xs-6 c-padding-10 c-center">
                            <p class="c-cart-price c-font-bold c-font-14 c-margin-t-5">{{item.startTime}}</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6 c-padding-10 c-center">
                            <p class="c-cart-price c-font-bold c-font-14 c-margin-t-5">{{item.endTime}}</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 c-cart-qty c-padding-10 ">
                            <button class="btn c-btn-green c-btn-square c-margin-0"  data-toggle="modal" data-target="#detailForm" ng-click="getPromotion(item.id)" style="padding: 5px 10px">明细</button>
                            <button class="btn c-btn-green c-btn-square c-margin-0"  data-toggle="modal" data-target="#PromotionPositionForm" ng-click="getManyPromotionPosition(item.id)" style="padding: 5px 10px">内容</button>
                            <button class="btn c-btn-green c-btn-square c-margin-0" data-toggle="modal" data-target="#addsalesForm" ng-click="update(item.id)"style="padding: 5px 10px">修改</button>
                            <button class="btn c-btn-grey c-btn-square c-margin-t-10"  ng-click="delete(item.id)"style="padding: 5px 10px;margin-left: 0">删除</button>
                            <button  class="btn c-btn-green c-btn-square c-margin-0"  data-toggle="modal" data-target="#getcouponsform" ng-click="getcoupons(item.id)"  style="padding: 5px 10px">添加优惠券</button>
                        </div>
                    </div>
                    <!-- END: 优惠劵item-->
                </div>
            </div>
        </div>
        <!-- BEGIN:分页 -->
        <div class="c-margin-t-40"></div>
        <ul class="c-content-pagination c-square c-theme pull-right" ng-if="pagelength>0">
            <li class="c-prev">
                <a href="JavaScript:" ng-click="setpages(-1,0)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li class="{{page==data.pageNumber?'c-active':''}}" ng-click="setpages(page,1)" ng-repeat="page in pages">
                <a href="JavaScript:">{{page}}</a>
            </li>
            <li class="c-next">
                <a href="JavaScript:" ng-click="setpages(+1,0)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- END: 分页 -->
    </div>
</div>
<!--begin优惠活动信息表单-->
<div class="modal fade c-content-login-form" id="addsalesForm" role="dialog" >
    <div class="modal-dialog" style="width: 760px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>{{formTitle}}{{pageTitle}}优惠活动</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            名称：
                        </div>
                        <div class="col-md-9">
                            <input ng-model="data.promotionTitle" class="form-control  c-square c-theme" type="text" placeholder="名称"/>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            活动图片： <span class="c-font-14">(1900*700)</span>
                        </div>
                        <div class="col-md-4">
                            <input ngf-select="upload($file,1)"  class="form-control c-square c-theme" type="file" />
                        </div>
                        <div class="col-md-5">
                            <img ng-src="{{data.promPic}}" class="img-max-100"/>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            开始时间：
                        </div>
                        <div class="col-md-9">
                           <!--<input ng-model="data.startTime" name="startTime" type="datetime-local" class="form-control form-filter input-sm ng-pristine ng-valid ng-empty ng-touched"/>-->
                            <input name="act_start_time" type="text" class=" form-control c-square c-theme text-box" value="" ng-model="data.startTime " placeholder="活动开始时间" title="活动开始时间" readonly="readonly" style="cursor:pointer;background: white;"/>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                           截止时间：
                        </div>
                        <div class="col-md-9">
                            <!--<input ng-model="data.endTime" type="datetime-local" name="endTime" class="form-control form-filter input-sm ng-pristine ng-valid ng-empty ng-touched"/>-->
                            <input name="act_stop_time" type="text" class=" form-control c-square c-theme text-box" value="" ng-model="data.endTime " placeholder="活动结束时间" title="活动结束时间" readonly="readonly" style="cursor:pointer;background: white;"/>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            活动说明：
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control form-filter input-sm ng-pristine ng-valid ng-empty ng-touched" ng-model="data.promotionDescription"></textarea>
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <div class="col-md-6 c-right">
                            <button class="btn c-btn-green c-btn-square" ng-click="submit()">提交</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn c-btn-grey c-btn-square" ng-click="close('addsalesForm')">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end优惠活动信息表单-->

<!--begin优惠活动明细表单-->
<div class="modal fade c-content-login-form" id="detailForm" role="dialog" >
    <div class="modal-dialog" style="width: 760px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>{{pageTitle}}活动明细</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-t-20 c-border-bottom c-padding-10">
                    <div class="col-md-2">
                        <div class="c-checkbox">
                            <input ng-model="chkall" ng-click="chkall(chkall)" ng-true-value="1" ng-false-value="0" type="checkbox" id="cart{{$index}}"
                                   class="c-check">
                            <label for="cart{{$index}}">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>全选</label>
                        </div>
                    </div>
                    <div class="col-md-10 c-right">
                        <button class="btn c-btn-green c-btn-square c-theme-btn" ng-click="submitDetail()">保存</button>
                        <button class="btn c-btn-grey c-btn-square c-margin-r-20" ng-click="close('detailForm')">取消</button>
                        <i class="fa fa-plus"  ng-click="addDetailList(1)"></i>
                    </div>
                </div>
               <div class="row c-margin-b-30">
                   <div class="col-md-12 c-border-bottom c-padding-10" ng-repeat="detail in detailList">
                       <div class="col-md-1">
                           <div class="c-checkbox">
                               <input  ng-true-value="1" ng-false-value="0" type="checkbox" id="1212"
                                       class="c-check">
                               <label for="1212">
                                   <span></span>
                                   <span class="check"></span>
                                   <span class="box"></span></label>
                           </div>
                       </div>
                       <div class="col-md-2">
                            满：(元)
                       </div>
                       <div class="col-md-3">
                           <input class="form-control  c-square c-theme" ng-model="detail.full" />
                       </div>
                       <div class="col-md-2">
                           减：(元)
                       </div>
                       <div class="col-md-3">
                           <input class="form-control  c-square c-theme" ng-model="detail.cashDiscount" />
                       </div>
                       <div class="col-md-1 c-right padding-0">
                           <i class="fa fa-close"  ng-click="deleteDetailList($index,detail.id,detail.promotion_id)"></i>
                           <i class="fa fa-plus"  ng-click="addDetailList(1)"></i>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<!--end优惠活动明细表单-->
<!--begin优惠活动商品表单-->
<div class="modal fade c-content-login-form" id="PromotionPositionForm" role="dialog" >
    <div class="modal-dialog" style="width: 760px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>{{pageTitle}}活动内容</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-t-20 c-border-bottom c-padding-10">
                    <div class="col-md-3">
                        <p>标题图片</p>
                    </div>
                    <div class="col-md-3">
                        <p>标题</p>
                    </div>
                    <div class="col-md-2">
                        <p>排序</p>
                    </div>
                    <div class="col-md-4 c-right padding-0">
                        <button class="btn c-btn-green c-btn-square c-theme-btn"  data-toggle="modal" data-target="#add-title-form" ng-click="addPromotionPosition()">添加楼层</button>
                        <button class="btn c-btn-grey c-btn-square" data-dismiss="modal">取消</button>
                    </div>
                </div>
                <div class="row c-margin-b-30">
                    <div class="col-md-12 c-border-bottom c-padding-10" ng-repeat="item in PromotionPosition">
                        <div class="col-md-3">
                            <img src="images/default.jpg" ng-src="{{item.image}}"  class="img-max-100"/>
                        </div>
                        <div class="col-md-3">
                            <p>	{{item.title}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>	{{item.sort}}</p>
                        </div>
                        <div class="col-md-4 c-right padding-0">
                            <button class="btn c-btn-green c-btn-square c-margin-0"  data-toggle="modal" data-target="#getproductsform" ng-click="getproducts(item.id)" style="padding: 5px 10px">编辑内容</button>
                            <button class="btn c-btn-green c-btn-square c-margin-0" data-toggle="modal" data-target="#add-title-form" ng-click="getPromotionPosition(item.id)"style="padding: 5px 10px">修改</button>
                            <button class="btn c-btn-grey c-btn-square "  ng-click="deletePromotionPosition(item.id)"style="padding: 5px 10px;margin-left: 0">删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end优惠活动商品表单-->

<!--begin 活动产品列表-->
<div class="modal fade c-content-login-form" id="getproductsform" role="dialog" >
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>活动产品列表</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-t-20 c-border-bottom c-padding-10">
                    <div class="col-md-1">
                        <div class="c-checkbox">
                            <input ng-model="chkall" ng-click="chkAll(chkall)" ng-true-value="1" ng-false-value="0" type="checkbox" id="product"
                                   class="c-check">
                            <label for="product">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p>商品图片</p>
                    </div>
                    <div class="col-md-3">
                        <p>商品标题</p>
                    </div>
                    <div class="col-md-5 c-right padding-0">
                        <button class="btn c-btn-green c-btn-square c-theme-btn"  data-toggle="modal" data-target="#addProductform" ng-click="getAllCategory()">添加产品</button>
                        <button class="btn c-btn-grey c-btn-square" ng-click="deleteProduuct()">删除</button>
                    </div>
                </div>
                <div class="row c-margin-b-30">
                    <div class="col-md-12 c-border-bottom c-padding-10" ng-repeat="item in PromotionPositionProduct">
                        <div class="col-md-1">
                            <div class="c-checkbox">
                                <input ng-model="item.checked" ng-true-value="1" ng-false-value="0" ng-checked="item.checked"  type="checkbox" id="{{$index}}" class="c-check">
                                <label for="{{$index}}">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="images/default.jpg" ng-src="{{item.mainPic}}"  class="img-max-100"/>
                        </div>
                        <div class="col-md-6">
                            <p>	{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end 活动产品列表-->

<!--begin 选择优惠券添加-->
<div class="modal fade c-content-login-form" id="getcouponsform" role="dialog" >
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>活动优惠券列表</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <div class="row c-margin-t-20 c-border-bottom c-padding-10">
                        <div class="col-md-4">
                            <p>标题</p>
                        </div>
                        <div class="col-md-5">
                            <p>结束时间</p>
                        </div>
                        <div class="col-md-3 c-right padding-0">
                            <button class="btn c-btn-green c-btn-square c-theme-btn"  data-toggle="modal" data-target="#addCouponsform" ng-click="getShopCoupons()">添加</button>
                        </div>
                    </div>
                    <div class="row c-margin-b-30">
                        <div class="col-md-12 c-border-bottom c-padding-10" ng-repeat="item in manyPromCoupon">
                            <div class="col-md-4">
                                <p>{{item.title}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{item.endDate}}</p>
                            </div>
                            <div class="col-md-3 c-right">
                                <button class="btn c-btn-grey c-btn-square" ng-click="deleteCoupons(item.id)">删除</button>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--end 选择优惠券添加-->

<!--begin 添加楼层-->
<div class="modal fade c-content-login-form" id="add-title-form" role="dialog" >
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>添加楼层信息</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            楼层名称：<span class="c-font-red">*</span>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control  c-square c-theme" type="text" ng-model="Position.title" />
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            楼层图片：<span class="c-font-red">*</span>
                        </div>
                        <div class="col-md-9">
                            <input ngf-select="upload($file,2)" class="form-control  c-square c-theme" type="file" />
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20" ng-if="Position.image">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <img style="max-width: 100%;max-height: 100px;" ng-src="{{Position.image}}"/>
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            楼层排序：<span class="c-font-red">*</span>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control  c-square c-theme" type="number" ng-model="Position.sort" />
                        </div>
                    </div>
                    <div class="row c-margin-b-30 c-margin-t-20">
                        <div class="col-md-3">
                            楼层类型：<span class="c-font-red">*</span>
                        </div>
                        <div class="col-md-9">
                            <select ng-model="Position.type " class="form-control c-square c-theme" name="conditions" ng-options="x.id as x.name for x in PositionType">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="row c-margin-b-30">
                        <div class="col-md-6 c-right">
                            <button class="btn c-btn-green c-btn-square" ng-click="createPromotionPosition()">提交</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn c-btn-grey c-btn-square" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end 添加楼层-->

<!--begin 添加活动产品列表-->
<div class="modal fade c-content-login-form" id="addProductform" role="dialog" >
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>添加产品</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-b-30 c-margin-t-20">
                    <div class="col-md-3">
                        商品分类
                    </div>
                    <div class="col-md-9">
                        <select ng-model="product.cat_id" class="form-control c-square c-theme" name="conditions" ng-change="getProduct(product.cat_id)" ng-options="x.id as x.name for x in category">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="row c-margin-b-30 c-margin-t-20">
                    <div class="col-md-12 c-margin-b-15">
                        选择商品：<span class="c-font-red">*</span>：
                    </div>
                    <div class="col-md-6 c-margin-b-15" style="overflow: hidden;height: 50px;" ng-repeat="product in productName">
                        <lable ng-click="selProductId($index)"><input type="checkbox" value="{{product.id}}" /><img style="width: 50px;max-height: 50px;margin: 0 5px;" ng-src="{{product.mainPic}}"/>{{product.name}}</lable>
                    </div>
                </div>
                <div class="row c-margin-b-30">
                    <div class="col-md-6 c-right">
                        <button class="btn c-btn-green c-btn-square" ng-click="batchAddProduct()">提交</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn c-btn-grey c-btn-square" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end 添加活动产品列表-->

<!--begin 添加活动优惠券列表-->
<div class="modal fade c-content-login-form" id="addCouponsform" role="dialog" >
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border c-bg-grey-1">
                <span>选择优惠券</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row c-margin-t-20 c-border-bottom c-padding-10">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                        <p>标题</p>
                    </div>
                    <div class="col-md-2">
                        <p>面值</p>
                    </div>
                    <div class="col-md-3">
                        <p>结束时间</p>
                    </div>
                    <div class="col-md-2">
                        <p>类型</p>
                    </div>
                </div>
                <div class="row c-margin-b-30 c-margin-t-20">
                    <div class="col-md-12 c-border-bottom c-padding-10" ng-repeat="item in ShopCoupons">
                        <div class="col-md-1">
                            <div class="c-checkbox">
                                <input ng-model="item.checked" ng-true-value="1" ng-false-value="0" ng-checked="item.checked"  type="checkbox" id="{{$index}}" class="c-check">
                                <label for="{{$index}}">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>{{item.title}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{item.value}}</p>
                        </div>
                        <div class="col-md-3">
                            <p>{{item.endDate}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{item.type}}</p>
                        </div>
                    </div>
                </div>
                <div class="row c-margin-b-30">
                    <div class="col-md-6 c-right">
                        <button class="btn c-btn-green c-btn-square" ng-click="batchAddcoupons()">提交</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn c-btn-grey c-btn-square" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end 添加活动优惠券列表-->


<script type="text/javascript">
    $( "input[name='act_start_time'],input[name='act_stop_time']" ).datetimepicker();
</script>