
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="c-content-blog-post-card-1-slider">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">注册企业店铺</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 c-margin-b-30 c-center">
                <img style="width: 100px" src="images/findPwdResult.png">
                <p class="c-margin-t-20">您的注册申请已提交，请耐心等待通<br/>知，通知结果将已短信形式告诉您！</p>
            </div>
            <div class="col-md-12 c-margin-b-30 c-center">
                <a href="#products" class="btn btn-lg c-btn-green c-btn-square" style="padding: 11px 50px 9px 50px">立即购物</a>
            </div>
        </div>
    </div>
</div>
