

<div ng-repeat="item in data">
    <!-- BEGIN: 图片轮播 -->
   <!--<div ng-if="item.type==3">
       <section ng-if="item.banners" class="c-layout-revo-slider c-layout-revo-slider-14">
           <div class="tp-banner-container tp-fullscreen">
               <div class="tp-banner rev_slider" data-version="7.0">
                   <ul>
                       <li data-transition="fade" data-slotamount="3" data-masterspeed="1000" ng-repeat="banner in item.banners" >
                           <img alt="" ng-src="{{banner.path}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
                       </li>
                   </ul>
               </div>
           </div>
       </section>
   </div>-->
    <!-- END: 图片轮播 -->

    <!-- BEGIN:页面内容 -->
   
    <div ng-if="item.type==7" class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 c-center c-padding-20 c-margin-t-30" style="padding:0 20px"
                     ng-repeat="coupon in coupons">
                    <div class="row c-bg-green c-bg-green-font" style="padding:0 20px">
                        <div class="col-md-10 " style="padding: 20px 15px">
                            <div class="c-border-right-grey" style="border-right: 1px solid;">
                                <h2 ng-if="coupon.type==2" class="c-font-24 c-font-white"><span>￥</span><strong
                                        class="c-font-38">{{toDecimal2(coupon.discount)}}</strong></h2>
                                <h2 ng-if="coupon.type==1" class="c-font-24 c-font-white"><strong class="c-font-38">{{coupon.discount/10}}</strong><span>折</span>
                                </h2>
                                <p>{{coupon.title}}</p>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding: 20px ;cursor: pointer">
                            <a ng-click="obtain($index)" class="c-font-grey">点击领取</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN: CONTENT/SHOPS/SHOP-2-1 -->
    <div ng-if="item.type==4||item.type==5"  class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1"> 
        <div class="container">
            <div class="c-content-title-4">
                <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                    <span class="c-bg-grey-1">{{item.title}}</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 c-margin-b-20" ng-repeat="p in item.recommand.products">
                    <div class="c-content-product-2 c-bg-white">
                        <div class="c-content-overlay">
                            <!--<div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>-->
                            <!--<div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>-->
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="index.html#/product?id={{p.id}}"
                                       class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 270px; background-image: url({{p.mainPic}});"></div>
                        </div>
                        <div class="c-info">
                            <p class="c-title c-font-18 c-font-slim">{{p.name}}</p>
                            <p class="c-price c-font-16 c-font-slim">￥{{toDecimal2(p.suggestedRetailUnitPrice)}} &nbsp;
                                <!--<span class="c-font-16 c-font-line-through c-font-red">￥369</span>-->
                            </p>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group c-border-top" role="group">
                                <a class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product"
                                   ng-click="comfirmOrder(p.id)">立即购买</a>
                            </div>
                            <div class="btn-group c-border-left c-border-top" role="group">
                                <a class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product"
                                   ng-click="shoppingCart(p.id)">加入购物车</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: 页面内容 -->
</div>
<!--begin 搜索结果-->
<div class="container" style="margin-top: 200px" ng-if="searchLength>0">
    <div class="c-layout-sidebar-content ">
        <!-- BEGIN: CONTENT/SHOPS/SHOP-2-7 -->
        <div class="c-bs-grid-small-space">
            <div class="row">
                <div class="col-md-3 col-sm-6 c-margin-b-20" ng-repeat="searchproduct in searchproducts">
                    <div class="c-content-product-2 c-bg-white c-border">
                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="#/product?id={{searchproduct.id}}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({{searchproduct.mainPic}});"></div>
                        </div>
                        <div class="c-info">
                            <h2 class="c-title c-font-16 c-font-slim" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{searchproduct.name}}</h2>
                            <p class="c-price c-font-14 c-font-slim">￥{{toDecimal2(searchproduct.suggestedRetailUnitPrice)}} &nbsp;
                                <!--<span class="c-font-14 c-font-line-through c-font-red">￥15.9</span>-->
                            </p>
                            <span class="c-product-sale c-font-14 c-bg-green c-font-white" style="padding: 2px 10px;">乐驿通自营</span>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group c-border-top" role="group">
                                <a class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" ng-click="comfirmOrder(searchproduct.searchproduct)">立即购买</a>
                            </div>
                            <div class="btn-group c-border-left c-border-top" role="group">
                                <a class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" ng-click="shoppingCart(searchproduct.searchproduct)">加入购物车</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN:分页 -->
        <div class="c-margin-t-20"></div>
        <ul class="c-content-pagination c-square c-theme pull-right" ng-if="pageLength>0">
            <li class="c-prev">
                <a href="JavaScript:" ng-click="setpages(-1,0)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li class="{{page==data.pageNumber?'c-active':''}}" ng-click="setpages(page,1)" ng-repeat="page in pages">
                <a href="JavaScript:">{{page}}</a>
            </li>
            <li class="c-next">
                <a href="JavaScript:" ng-click="setpages(+1,0)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- END: 分页 -->
    </div>
</div>
<!--end 搜索结果-->
<script>
    $(document).ready(function()
    {
        // App.init(); // init core
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
<script>
    var initSilder = function () {
        var slider = $('.c-layout-revo-slider .tp-banner');
        var cont = $('.c-layout-revo-slider .tp-banner-container');
        var api = slider.show().revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "fullscreen",
                    responsiveLevels: [2048, 1024, 778, 320],
                    gridwidth: [1240, 1024, 778, 320],
                    gridheight: [868, 768, 960, 720],
                    delay: 15000,
                    startwidth: 1170,
                    startheight: App.getViewPort().height,
                    navigationType: "hide",
                    navigationArrows: "solo",
                    touchenabled: "on",
                    navigation:
                    {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        arrows:
                        {
                            style: "circle",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left:
                            {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            },
                            right:
                            {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 30,
                                v_offset: 0
                            }
                        }
                    },
                    spinner: "spinner2",
                    fullScreenOffsetContainer: '.c-layout-header',
                    shadow: 0,
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "on",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "on",
                    hideArrowsOnMobile: "on",
                    hideThumbsUnderResolution: 0
                });
    }
    $(document).ready(function()
    {


    }); //ready
</script>