<!-- BEGIN: 页面内容-->
<div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div data-toggle="modal" data-target="#invoiceWin">点击</div>
    </div>


    <div class="modal fade c-content-login-form" id="invoiceWin" role="dialog">
        <div class="modal-dialog" style="width: 760px">
            <div class="modal-content c-square">
                <div class="modal-header c-no-border c-bg-grey-1">
                    <span>发票信息</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row c-margin-b-20 c-margin-t-20 c-border-bottom">
                        <div class="simplelineicons-demo customline-demo col-md-12 row">
                            <div class="item-box" ng-click="selectType(1)" style="cursor: pointer">
                                <div class="item" style="position: relative">
                                    <a class="c-order-date c-font-14 c-font-thin ">普通发票</a>
                                    <img src="images/def.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==3||invoice.payType==2"/>
                                    <img src="images/sel.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==1"/>
                                </div>
                            </div>
                            <div class="item-box" ng-click="selectType(2)" style="cursor: pointer">
                                <div class="item" style="position: relative">
                                    <a class="c-order-date c-font-14 c-font-thin ">电子发票</a>
                                    <img src="images/def.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==1||invoice.payType==3"/>
                                    <img src="images/sel.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==2"/>
                                </div>
                            </div>
                            <div class="item-box" ng-click="selectType(3)" style="cursor: pointer">
                                <div class="item" style="position: relative">
                                    <a class="c-order-date c-font-14 c-font-thin ">增值发票</a>
                                    <img src="images/def.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==1||invoice.payType==2"/>
                                    <img src="images/sel.png" style="position: absolute;right: 0;bottom:0;"
                                         ng-if="invoice.payType==3"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="invoice.payType==1">
                        <div class="col-md-12">
                            <div class="col-md-2 padding-0 c-right">
                                <label>发票抬头：</label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="col-md-12 c-margin-b-10 ">
                                    <div class="input-group c-square c-border-red c-border">
                                        <div class="form-control  c-square  c-border-right-white">个人</div>
                                        <div class="input-group-addon c-bg-white"><img src="images/sel.png"
                                                                                       style="position: absolute;right: 0;bottom:0;"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 c-margin-b-10" ng-repeat="item in invoice.lists">
                                    <div class="input-group c-square">
                                        <div ng-hide="item.isShow" class="form-control  c-square c-theme">
                                            {{item.name}}
                                        </div>
                                        <input ng-show="item.isShow" ng-model="editInvo" type="text"
                                               class="form-control  c-square c-theme {{item.isShow==1?'c-border-green':''}}"/>

                                        <div class="input-group-addon c-bg-white" style="padding: 3px 12px;"><a
                                                class="btn  btn-default c-font-14" style="padding: 2px 10px;"
                                                ng-click="editInvoice($index)" ng-hide="item.isShow">编辑</a><a
                                                class="btn btn-default c-font-14" ng-show="item.isShow"
                                                style="padding: 2px 10px;">保存</a><a class="btn btn-default c-font-14"
                                                                                    style="padding: 2px 10px;">删除</a><img
                                                class="c-hide" src="images/sel.png"
                                                style="position: absolute;right: 0;bottom:0;"/></div>
                                    </div>
                                </div>
                                <div class="col-md-12 c-margin-b-10">
                                    <a class="c-font-blue" style="cursor: pointer">新增单位发票</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 c-margin-t-10">
                            <div class="col-md-2 padding-0 c-right">
                                <label>发票内容：</label>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-12">订单明细</div>
                                <div class="col-md-12 c-margin-t-10">
                                    <div class="form-group ">
                                        <button class="btn btn-lg c-btn-green c-btn-square" data-dismiss="modal">保存
                                        </button>
                                        <button class="btn btn-lg c-btn-dark-3 c-font-uppercase c-btn-square c-btn-border-1x"
                                                data-dismiss="modal">取消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="invoice.payType==2">
                        <div class="col-md-12 c-margin-b-20 c-font-14 " style="color: #ffa657">
                            电子发票是税务局认可的有效凭证，其法律效力、基本用途及使用规定同纸质发票，如需纸质票可自行下载打印。
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 padding-0 c-right">
                                <label>发票抬头：</label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="col-md-12 c-margin-b-10 ">
                                    <div class="input-group c-square c-border-red c-border">
                                        <div class="form-control  c-square  c-border-right-white">个人</div>
                                        <div class="input-group-addon c-bg-white"><img src="images/sel.png"
                                                                                       style="position: absolute;right: 0;bottom:0;"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 c-margin-b-10">
                                    <div class="input-group c-square">
                                        <input type="text" class="form-control  c-square c-theme c-border-right-white"
                                               placeholder="请填写公司发票抬头"/>

                                        <div class="input-group-addon c-bg-white " style="padding: 3px 12px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 padding-0 c-right">
                                <label>收票人电话：</label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="col-md-12 c-margin-b-10">
                                    <div class="input-group c-square">
                                        <input type="text" class="form-control  c-square c-theme c-border-right-white"
                                               placeholder="请填写收票人电话"/>

                                        <div class="input-group-addon c-bg-white c-font-red" style="padding: 3px 12px;">
                                            *
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 padding-0 c-right">
                                <label>收票人邮箱：</label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="col-md-12 c-margin-b-10">
                                    <div class="input-group c-square">
                                        <input type="text" class="form-control  c-square c-theme c-border-right-white"
                                               placeholder="请填写收票人邮箱"/>

                                        <div class="input-group-addon c-bg-white c-font-red" style="padding: 3px 12px;">
                                            *
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 c-margin-t-10">
                            <div class="col-md-2 padding-0 c-right">
                                <label>发票内容：</label>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-12">订单明细</div>
                                <div class="col-md-12 c-margin-t-10">
                                    <div class="form-group ">
                                        <button class="btn btn-lg c-btn-green c-btn-square" data-dismiss="modal">保存
                                        </button>
                                        <button class="btn btn-lg c-btn-dark-3 c-font-uppercase c-btn-square c-btn-border-1x"
                                                data-dismiss="modal">取消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="invoice.payType==3">
                        <div class="col-md-12 c-margin-b-20 c-font-14 " style="color: #ffa657">
                            我公司依法开具发票，如您购买的商品按税法规定属于不得从增值税销项税额中抵扣的项目（例如集体福利或个人消费等），请您选择普通发票或电子发票。
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 padding-0 c-right">
                                <label>开票方式：</label>
                            </div>
                            <div class="col-md-9 ">
                                <div class="col-md-12 c-margin-b-10 ">
                                    <div class="input-group c-square c-border-red c-border">
                                        <div class="form-control  c-square">订单完成后开票&nbsp;&nbsp;&nbsp;<img
                                                src="images/sel.png" style="position: absolute;right: 0;bottom:0;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="c-hide">
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>发票内容：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10 ">
                                        <div class="input-group c-square c-border-red c-border">
                                            <div class="form-control  c-square">订单明细&nbsp;&nbsp;&nbsp;<img
                                                    src="images/sel.png" style="position: absolute;right: 0;bottom:0;"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>单位名称：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>纳税人识别码：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>注册地址：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>注册电话：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>开户银行：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>银行账户：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <button class="btn btn-lg c-btn-green c-btn-square">下一步</button>
                                            <button class="btn btn-lg c-btn-dark-3 c-font-uppercase c-btn-square c-btn-border-1x"
                                                    data-dismiss="modal">取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>收票人姓名：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>收票人电话：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>收票人省份：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 padding-0 c-right">
                                    <label>详细地址：</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="col-md-12 c-margin-b-10">
                                        <div class="input-group c-square">
                                            <input type="text"
                                                   class="form-control  c-square c-theme c-border-right-white"/>

                                            <div class="input-group-addon c-bg-white c-font-red"
                                                 style="padding: 3px 12px;">*
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <button class="btn btn-lg c-btn-green c-btn-square">保存</button>
                                            <button class="btn btn-lg c-btn-dark-3 c-font-uppercase c-btn-square c-btn-border-1x">上一步
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- END:页面内容 -->