
<div class="container">
    <!-- BEGIN: 个人中心菜单 -->
    <div ng-include="'views/menu.html'"></div>
    <!-- END: 个人中心菜单 -->
    <div class="c-layout-sidebar-content">
        <div class="c-content-title-1">
            <div class="c-font-uppercase c-font-bold c-font-18 c-margin-b-15">{{viewsTitle}}</div>
            <div class="c-line-left c-theme-bg"></div>
        </div>
        <div class="col-md-12">

            <div class="row">
                <div class="form-group">
                    <label class="control-label">收货人</label>
                    <input type="text" class="form-control c-square c-theme" ng-model="data.contacts"> </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <label class="control-label">联系电话</label>
                    <input type="text" class="form-control c-square c-theme" ng-model="data.phone"> </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <div class="control-label">所在省市区</div>
                    <div class="row c-margin-t-10">
                        <div class="col-md-4">
                            <select class="form-control c-square c-theme" ng-model="data.provinceId" ng-options="x.id as x.name for x in provinces" ng-change="getCity(data.provinceId)">
                                <option value="">请选择省</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control c-square c-theme" ng-model="data.cityId" ng-options="x.id as x.name for x in cities" ng-change="getDistricts(data.cityId)">
                                <option value="">请选择市</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control c-square c-theme" ng-model="data.districtId"  ng-options="x.id as x.name for x in districts">
                                <option value="">请选择区</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <label class="control-label">详细地址</label>
                    <input type="text" class="form-control c-square c-theme" ng-model="data.detailedAddress" > </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <button class="btn btn-lg c-btn-green c-btn-square" ng-click="submit()">保存</button>
                    <button class="btn btn-lg c-btn-dark-3 c-font-uppercase c-btn-square c-btn-border-1x" ng-click="cleaned()">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>